@import url('https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap');

body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
     font-family: Sedan;
}

nav ul{
    display: flex;
    list-style-type: none;
    height: 65px;
    background-color: black;
}

.brand img{
    width: 44px;
}